*,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
* {
    font-family: 'Segoe UI';
}


h1,h2,h3 {
    color: black
}

.btn {
    padding: 10px;
    color: white;
    background-color: #bf7631;
}
main{
    margin: 1rem auto;
}

main section {
    padding-left: 4rem;

}

.logo_image{
   height: 30px 
}

.logo_image{
    height: 30px;
}

#search{
    background-image: url("assets/1200px-Google_Magnifying_Glass.svg.png");
    background-position: right;
    padding-left: 30px;
    background-size: 15px;
    background-repeat: no-repeat;
    border-radius: 8px;

}
